.containerLogin {
  max-width: 350px;
  max-height: 180px;
}

.containerSignup {
  max-width: 350px;
  max-height: 230px;
}

.transparentBoxBackground {
  position: relative;
  z-index: 0;
}

.transparentBoxBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e2e2;
  opacity: 0.9;
  z-index: -1;
  border-radius: 16px;
}

.bottomLogo {
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  /* padding: 10px; */
}
