.container {
  max-width: 60%;
  height: 200px;
}

.transparentBoxBackground {
  position: relative;
  z-index: 0;
}

.transparentBoxBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e2e2;
  opacity: 0.9;
  z-index: -1;
  border-radius: 16px;
}
